*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    outline:none;
     } 
    
    .main{
    background:white;  
    text-align:center;
    width:500px;
    height:500px;
    margin:50px auto;
    padding:50px; 
     } 
     
    table{
    border-radius:20px;
    border:solid ;
    background:black;
    width:370px;
    height:450px;
    align:center;
     }
     
    form
    {
    padding:1px;
    margin-bottom:1px;
    }
    
    .textview
    {
    width:340px;
    height:70px;
    padding:0 10px;
    pointer-events:none;
    background:pink; 
    border-color:white;
    border-radius:5px;
    font-size:30px;
    font-family:tahoma;
    }
    
    .clearfix:before , .clearfix:after{
    content:" " ;
    display:table; 
    clear:both;
    width:50%;
    border-radius:5px;
    }
    
    .col-3
    {
    width:25%;
    padding:1px;
    float:left;
    color:#000000;
    border-color:white;
    }
    
    .button
    {
    width:70px;
    height:40px;
    outline:nane;
    border-radius:5px;
    border-color:white;
    font-weight:bold;
    font-size:20px;
    background:pink;
    color:#000000;
    }
    
    .button.top{
    background:#D38;
    border-color:white;
    color:#000000;
    font-weight:bold;
    font-size:20px; 
    cursor:pointer;
    }
    
    
    .button.top-button{
    background:#D38;
    border-color:white;
    color:#000000;
    font-weight:bold; 
    font-size:20px;
    cursor:pointer;
    }
             
    .button.equal{
    background:#D38;
    color:#000000;
    font-size:22px;
    border-color:white;
    cursor:pointer;
    }
    
    .button.operator
    {
    background:#D38;
    color:#000000;
    border-color:white;
    font-size:20px;
    cursor:pointer; 
    }
    
    .button:focus
    {
      border:0;
      background:white;}
    